
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}





body{
    background-image: url(https://avatars.mds.yandex.net/i?id=703abf88fd35c5d9fefab78ae18225aa68b4aa80-9238131-images-thumbs&n=13);
    background-size: 100% 50px;
    background-repeat: no-repeat;
    background-position: fixed;

  }
  .primary-navbar{
    justify-content: space-around;
    padding: 10px 20px;
   margin-left: -100px;  
  }
  
  .img img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
    

  }
  .email,.address,.location,.details{
    display: flex;

  }
  .email img{
    width: 30px;
    height: 30px;
  }
  .fb img{
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-right: 8px;
  }
  .twitter img ,.insta img{
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-right: 8px;
  }
 
  .github img{
    width: 30px;
    height: 30px;
    
  }
  
  .address a,.details a,.links a{
    text-decoration: none;
    color: black;
  }

  .location .text{
    margin-top: 2px;
  }
  .location img{
    width: 30px;
    height: 30px;
  }
  .help{
    padding-right: 10px;
  }
  .faq{
    padding-left: 10px;
  }
  .help span,.support span,.faq span{
    padding-right: 6px;
    color: rgb(42, 141, 235);
    font-weight: bold;
  }
  .text span,.details p{
    font-weight: 500;
  }
  



  /* -----------------------------------------------Primary-navbar-end------------------------------------ */
  
.secondary-navbar .logo img{
  width: 90px;
  height: 90px;

}
.secondary-navbar .phone img{
  width: 60px;
  height: 60px;
}
.secondary-navbar-links{
  display: flex;
  justify-content: space-around;
  padding: 30px;
  padding-left: 40px;
}
.secondary-navbar-links li{
  margin-right: 40px;
  
}
.secondary-navbar-links a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.secondary-navbar-links a:hover{
  color: rgb(103, 162, 230);

}
.secondary-navbar-links .phone li{
  margin: 0;
}
.secondary-navbar-links .phone{
  margin:-10px;
}
.secondary-navbar-links .phone h5{
  margin-top: 4px;
}
.secondary-navbar-links .phone h6{
  margin-top: -5px;
}
.secondary-navbar-links .btn{
  background-color: rgb(94, 109, 199);
  color: white;
}
.secondary-navbar-links .btn:hover{
  
  background-color: rgb(79, 82, 216);
  
}
.secondary-navbar-links .btn h6{
  font-weight: 700;
}
.secondary-navbar{ 
  
  padding: 0px 50px;
  margin-top: -10px;
  
}
.menu-icon{
  width: 40px;
  height: 40px;
  display: none;
}
.phone h5{
  color:  rgb(42, 141, 235);
}











/* -----------------------------------------Secondary-navbar-end-------------------------------------------- */
.main .img-container .main-img img{
  width: 100%;
  height: 500px;
 object-fit: inherit;
}
.main-img {
  position: relative;
}

.main-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for desired opacity */
  
}
.img-container{
  position: relative;
}
.img-text{
  position: absolute;
  top: 20%;
  left: 10%;
}
.img-text h1{
  font-size: 80px;
  color: antiquewhite;
}
.img-text h3{
 color: antiquewhite;
}
.main .img-text .container .btn {
  background-color: #5481e2;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.main .img-text .container .btn p {
  margin: 0;
  font-weight: bold;
}

.main .img-text .container .btn:hover {
  background-color: rgb(26, 108, 216);
}
/* =====================contact-section-------------------- */
.contact-section .container .flexer .contact-img img{
  width: 400px;
  height: 400px;
}
.contact-section .container .flexer{
  display: flex;
}

.contact-img img {
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}

.contact-img img:hover {
  filter: none;
}




.contact-img img {
  filter: grayscale(100%);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 4px solid #556ae6; /* Replace #FF0000 with your desired color */
}
.pics-flex .warranty-managment img{
  width: 60px;
  height: 60px;
  margin-top: 28px;
}
.pics-flex,.warranty-managment,.control-system{
  display: flex;
}
.pics-flex .warranty-managment h6,.control-system h6{
  margin-top: 30px;
  
  font-size: 24px;
  color: rgb(54, 48, 48);
  
}
.pics-flex .warranty-managment h6{
  margin-left: 30px;
 
  
}
.pics-flex .control-system img{
  height: 120px;
  

}
.contact-section .info{
  display: flex;
  justify-content: center;
}
.contact-section .info img{
  width: 30px;
  height: 30px;
}
.contact-section .contact-img-text h4{
  color: rgb(126, 126, 248);
  font-weight: bold;
}
.contact-section .contact-img-text h2{
  font-weight: bold;
  color: rgb(73, 57, 57);
}
.contact-section .contact-img-text p{
  color: rgb(156, 142, 142);
  border-left: 2px solid  rgb(126, 126, 248);
  padding: 14px;

}
.contact-section .container .flexer{
  justify-content: space-around;
}
.contact-section .warranty-managment p,.control-system{
  font-size: 20px;
}
.contact-section .pics-flex{
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgray;
}
.contact-section .info{
  display: flex;
}
.contact-section .info img{
  margin-top: 20px;
}
.contact-section .info p{
 font-size: 16px;
 color: rgb(48, 41, 41);
 font-weight: 500;
 margin-top: 22px;
 margin-left: 8px;
}
.contact-section .info span{
 color:  rgb(126, 126, 248);
}





/* --------------------------------------services---------------------------------- */
.our-service-section .service-text .box{
  padding: 6px;
  
  background: #f00;
  text-align: center;
  width: 170px;
  height: 40px;
  background-color:   rgb(126, 126, 248);
  margin: 0 auto;
}
.our-service-section .service-text .box a{
  
list-style: none;
text-decoration: none;
color: white;
display: flex;
justify-content: center;

}
.our-service-section .service-text h1{
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
}
.our-service-section .service-text p{
  color: rgb(214, 204, 204);
  text-align: center;
  padding-top: 12px;
  font-weight: bold;
}
.our-service-section .card-body .card-text{
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.our-service-section .services-cards{
  display: flex;
  justify-content: space-between;
}



.card-a img,.card-b img,.card-c img,.card-d img{
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}
.card-a img:hover,.card-b img:hover,.card-d img:hover,.card-c img:hover{
  filter: none;
}
.our-service-section .services-cards .card-a,
.our-service-section .services-cards .card-b,
.our-service-section .services-cards .card-c,
.our-service-section .services-cards .card-d {

  box-shadow: 6px 6px 6px  rgb(179, 179, 218); /* Add this line to apply the shadow */
}
.our-service-section .services-cards{
  padding: 30px;
  margin-top: 20px;
}
.effort {
  width: 100%;
  height: 500px;
  background-color: #fff;
  background-image: url('../imgs/meeting.png');
  background-size: cover;
  
  background-repeat: no-repeat;
  background-position: fixed;
 
}
.effort {
  position: relative;
}

.effort::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 79, 105, 0.4); /* Adjust the alpha value for desired opacity */
 
}
.company-value .effort h1,.company-value .effort p{
 text-align: center;
 color: white;
 z-index:1;
}
.effort .btn{
  background-color: #556ae6;
 
  
}
.company-value .effort .video-icon img{
  width: 120px;
  height: 80px;
 
}
.company-value .effort .video-icon{
  text-align: center;
  padding-top: 30px;
}
.effort::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 15, 44, 0.4);
  opacity: 0.8; /* Adjust the opacity value */
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}
.company-value .effort h1,
.company-value .effort p {
  text-align: center;
  
  

  
}
.company-value .effort h5{
  font-size: 20px;
  color: white;
}


  
.effort .btn{
  width: 200px;
  margin-left: 570px;
  
}

/* -------------------------------------------Testimonial-Section------------------------------------------ */


body, html {
  height: 100%;
  margin: 0;
}

.Testimonial {

 
  margin-top: 140px;
 
}

.Testimonial h6 {
  background-color: rgb(126, 126, 248);
  padding: 10px;
  width: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: white;
  text-align: center;
  border-radius:6px; /* Add this line */
  margin-bottom: 20px;
}



.Testimonial h2{
  font-size: 45px;
  font-weight: bold;
  color: rgb(53, 51, 51);
  text-align: center;
}
.Testimonial p{
  font-size: 18px;

  color: rgb(131, 128, 128);
  margin-top: 20px;
  text-align: center;
}
.container .client-card-1,.client-card-2,.client-card-3{
  width: 350px;
  height: 300px;
 
}
.container .client-card-1 .img-flexer img,.client-card-2 .img-flexer img,.client-card-3 .img-flexer img{
  border-radius: 50%;
  width: 80px;
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}
.img-flexer li{
  margin-top: 10px;
  margin-left: 20px;
}
.img-flexer h4{
  color: rgb(126, 126, 248) ;

}

.container .client-card-1 .img-flexer img:hover,.client-card-2 .img-flexer img:hover,.client-card-3 .img-flexer img:hover{
  filter: none;
}

.client-card-1,.client-card-2,.client-card-3{
  padding: 40px;
}
.client-card-1 p,.client-card-2 p,.client-card-3 p{
  color:rgb(131, 128, 128);
  font-weight: normal;
  
  
}
.client-card-1 h5,.client-card-2 h5,.client-card-3 h5{
  font-size: 14px;
  font-weight: normal;
}
.Testimonial .container{
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  

}
.client-card-1,.client-card-2,.client-card-3{
  box-shadow: 1px 1px 10px 1px ; /* Add this line to apply the shadow */
}









/* ----------------------------------------------TEAM_------------------------------------------------ */
.team-pics-flexer{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.team .middle-text {
text-align: center;
}
.team .middle-text h6{
  padding: 8px;
  background-color:  rgb(126, 126, 248);
  width: 240px;
  height: 40px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin: 10px auto;
  margin-top: 100px;
  color: white;
}
.team .middle-text h2{
  font-weight: bold;
  color: rgb(43, 40, 40);
}
.team .middle-text p{
  font-size: 16px;
  
  color:rgb(131, 128, 128) ;
}
.team-pics-flexer .card-1,.card-2,.card-3,.card-4{
  border: none;
}
.team-pics-flexer .card-1 img,.card-2 img,.card-3 img,.card-4 img{
  border-radius: 5px;
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
  box-shadow: 1px 1px 10px 1px;
  
}
.team-pics-flexer .card-1 img:hover,.team-pics-flexer .card-2 img:hover,.team-pics-flexer .card-3 img:hover,.team-pics-flexer .card-4 img:hover{
  filter: none;
}
.team-pics-flexer .card-1 .card-body h4,.card-2 .card-body h4,.card-3 .card-body h4,.card-4 .card-body h4{
  margin-top: 30px;
  font-weight: bold;
  
}
.team-pics-flexer .card-1 .card-body h5,.card-2 .card-body h5,.card-3 .card-body h5,.card-4 .card-body h5{
  color:  skyblue;
  margin-right: 10px;
  margin-top: -20px;
  font-size: 34px;
}
.team-pics-flexer .card-1 .card-body h6,.card-2 .card-body h6,.card-3 .card-body h6,.card-4 .card-body h6{
  color:rgb(131, 128, 128) ;
}








/* --------------------------------------------------News-Articles----------------------------------- */
.news-article .middle-text{
  text-align: center;
}
.news-article .middle-text h4{
  width: 100px;
  height: 36px;
  padding: 2px;
  background-color:  rgb(126, 126, 248);
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 100px;
  color: white;
}
.news-article .middle-text h2{
  font-weight: bold;
  font-size: 40px;
  margin-top: 10px;

}
.news-article .middle-text p{
font-size: 18px;
color:rgb(131, 128, 128) ;
}

.article-pic-flexer{
  display: flex;
  justify-content: space-evenly;
}

.article-pic-flexer .article-card-1 img,.article-card-2 img,.article-card-3 img{
  width: 350px;
  height: 200px;
  border-radius: 5px;
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}
.article-pic-flexer .article-card-1 img:hover,.article-card-2 img:hover,.article-card-3 img:hover{
  filter: none;
}

.article-card-1 .card-text,.article-card-2 .card-text,.article-card-3 .card-text{
  margin-top: 30px;
  
  text-align: center;
}
.article-card-1 .card-text p,.article-card-2 .card-text p,.article-card-3 .card-text p{
  font-size: 12px;
  color: rgb(131, 128, 128);
  
}



/* --------------------------------------------------Footer---------------------------------------------- */

.footer{
  margin-top: 200px;
  width: 100%;
 height: 900px;
  background-color: rgb(13,38,59);
  color: white;

}
.footer a{
  list-style: none;
  text-decoration: none;
}
.footer .container{
 padding-top: 200px;
  display: flex;
  justify-content: space-between;
}
.footer .container .Al-wasil h2{
  font-weight: bold;
  font-size: 40px;
}
.footer .container .Al-wasil p{
  margin-top: 30px;
  
  font-size: 16px;
}
.Headquarter .img img{
  width: 60px;
  height: 60px;
}
.Headquarter .location-flex img{
  width: 30px;
  height: 30px;
}
.Headquarter .location-flex{
  margin-top: 20px;
}
.Headquarter .phone-flex img,.email-flex img,.clock-flex img{
  width: 40px;
  height: 40px;
}
.Headquarter .location-flex,.email-flex,.clock-flex,.phone-flex{
  padding: 10px 0;
  
  border-bottom: 1px solid gray;
}
.Headquarter .flex h1,.contact-info .flex h1,.newsletter h1{
  font-weight: bolder;
  margin-top: -20px;
  margin-right: 20px;
  
}
.contact-info .business,.manage,.advice,.insurance{
  border-bottom: 1px solid lightgray;
  padding: 14px;

}
.contact-info .business{
  margin-top: 18px;
}
.contact-info h6{
  font-weight: bold;
  margin-right: 10px;
}

.contact-info span,.Headquarter span,.Al-wasil P,.newsletter p{
color: #7b8690;
}
.newsletter p{
  margin-top: 50px;
}
#emailForm{
margin-top: 40px;
}
.footer .footer-links .links{
  display: flex;
  justify-content: center;
}
.footer .footer-links .links .fb img{
  width: 50px;
  height: 50px;
  margin-top: -4px;
}
.footer .footer-links .links .twitter img{
  width: 50px;
  height: 50px;
  margin-top: -4px;
  
}
.footer .footer-links .links .whatsapp img{
  width: 40px;
  height: 40px;
  
}
.footer .footer-links .links .youtube img{
  width: 40px;
  height: 40px;
  
}

.footer .footer-links .links .wifi img{
  width: 40px;
  height: 40px;
  margin-left: 20px;
  
}
.footer .footer-links .links{
  margin-top: 160px;
}
.footer-contacts{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  
}
.footer-contacts a{
  color: white;
 
  
  
}
.footer-contacts span{
 color:  #7b8690;
 font-weight: bold;
 font-size: 20px;
 margin-right: 10px;
 margin-left: 10px;
 
 
}
.footer-contacts p{
  margin-top: 3px;
  color: #7b8690;
  
}
.footer .last-line{
  margin-top: 20px;
  text-align: center;
  color: #7b8690;
}


























  



 









































/* ------------------------------------------------media-querry-------------------------------------- */
/* // `xs` returns only a ruleset and no media query */
/* // ... { 
  
  } */

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  .primary-navbar .address .email , .primary-navbar .address .location{
    display: none;
  }
  .details{
    padding-left: 200px;
  }
  .links{
    margin-left: -100px;
  }


  .main-img {
    position: relative;
  }
  .img-text {
    margin-top: 200px;
    margin-left: 60px;
    position: absolute;
    top: 10px;
    left: 0;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    
    
    color: wheat;
    z-index: 2;
  }
  .img-text{
    width: 100%;
    height: 100%;
    display: none;
  }
  .flexer{
    display: block;
  }
  .contact-section .container li{

 
  display: flex;
  align-items: center;
  
 }
 .contact-section .container .contact-img img{
  margin-left: -80px;
 }
  .contact-section .container .contact-img-text{
    margin-left: 80px;
    margin-top: 20px;
    text-align: center;
  }
  .pics-flex{
    display: block;

  }
  .pics-flex .control-system,.pics-flex .warranty-managment{
    display: flex;
    justify-content: center;
  }
  
  .info{

   padding: 40px;
   padding-top: 10px;
    
    
  }
 
  
  

 .effort .btn{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.card-a,.card-b,.card-c,.card-d{
 
  margin-bottom: 20px;
  margin-left: -200px;
 
 }
 .effort .btn{
  display: none;
 }
 .Testimonial .container{
  display: block;
}
.container .client-card-1,.client-card-2,.client-card-3{
  margin: 20px auto;
}
.article-pic-flexer .article-card-1 img,.article-card-2 img,.article-card-3 img{
  width: 90%;
}
.team-pics-flexer .card-1 img,.card-2 img,.card-3 img,.card-4 img{
  width: 90%;
}
.contact-section .container .flexer .contact-img{
  width: 100%;
  height: 300px;

}
.contact-section .container .flexer .contact-img img{
  width: 100%;
  height: 100%;

  
 
}
.footer-contacts{
  display: flex;
  justify-content: center;
}
.footer-contacts .contactus {
  display: none;
  
}


}


  
 
 


  

 
  
  
  
  
 
 



  /* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .primary-navbar .address .email , .primary-navbar .address .location{
    display: none;
  }
  .details{
    margin-right: 100px;
    margin-left: -80px;
  }
  /* -------------------primary navbar end ------------------------------------------ */
  .logo {
    margin-left: -80px;
  }
  .secondary-navbar-links{
    display: none;
  }
  
  
  .menu-icon {
    display: block;
  }
  .menu-icon img{
    width: 60px;
    height: 60px;
    margin-top: 10px;
  }
  .secondary-navbar{
    justify-content: space-between;
    
  }
  /* -----------------------------secondary-navbar-end--------------------------------------------------- */
  .main .container{
    margin: 0;
    margin-left: -60px;
  }
  
  /* ---------------------------------------------main-------------------------------------------- */
 .img-text .container{
  display: none;
 }
 .contact-section .contact-img,.contact-img-text,.info{
  margin-left: 200px;
 }
  .contact-section .container .flexer{
  display: block;
}
.contact-img-text{
  text-align: center;
  margin-top: 20px;
}
.our-service-section .services-cards{
  display: block;
  margin-left: 150px;
}
.effort .btn{
  margin-left: 260px;
}
.Testimonial .container{
  display: block;
}
.container .client-card-1,.client-card-2,.client-card-3{
  margin: 20px auto;
}
.team .team-pics-flexer{
  display: block;
}
.team-pics-flexer .card-1,.card-2,.card-3,.card-4{
  margin: 20px auto;
}






























}
  
  
  /* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .logo {
    margin-left: -80px;
  }
  .secondary-navbar-links{
    display: none;
  }
  
  
  .menu-icon {
    display: block;
  }
  .menu-icon img{
    width: 60px;
    height: 60px;
    margin-top: 10px;
  }
  .secondary-navbar{
    justify-content: space-between;
  }
  .img-text .container{
    display: none;
  }
  .contact-section .container .flexer{
    justify-content: space-around;
  }
  .contact-img-text,.info{
    margin-left: 20px;
  }
  .our-service-section .services-cards{
    display: block;
    margin-left: 155px;
   
  }
  .service-text{
    text-align: center;
    align-items: center;
  }
  .effort .btn{
    margin-left: 280px;
  }

  .Testimonial .container{
    display: block;
  }
  .container .client-card-1,.client-card-2,.client-card-3{
    margin: 20px auto;
  }
  .team .team-pics-flexer{
    display: block;
  }
  .team-pics-flexer .card-1,.card-2,.card-3,.card-4{
    margin: 20px auto;
  }
  .footer{
    height: 1700px;
    margin-top:200px;
  }
  .footer .container{
    display: block;
    text-align: center;
    
  }
.Headquarter .flex,.contact-info .flex,.newsletter .flex{
  margin-top: 20px;
  justify-content: center;
}
.contact-info .business,.manage,.advice,.insurance{
  justify-content: center;
}

  
  


  
}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .logo {
    margin-left: -80px;
  }
  .secondary-navbar-links{
    display: none;
  }
  
  
  .menu-icon {
    display: block;
  }
  .menu-icon img{
    width: 60px;
    height: 60px;
    margin-top: 10px;
  }
  .secondary-navbar{
    justify-content: space-between;
  }
  .effort .btn{
    margin-left: 390px;
  }
  .contact-img-text{
    margin-left: 20px;
  }


  .team .team-pics-flexer{
    display: block;
  }
  .team-pics-flexer .card-1,.card-2,.card-3,.card-4{
    margin: 20px auto;
  }
  .news-article .article-pic-flexer {
    display: block;
    margin: 20px auto; /* 'auto' centers the element horizontally */
    align-items: center;
    text-align: center;
  }
  
  
  
}
.news-article .article-pic-flexer .card-text h5{
  text-align: center;
  align-items: center;
  
}
.footer .container{
  justify-content: space-between;

}
.info{
  display: none;
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

}












