
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}





body{
    background-image: url(https://avatars.mds.yandex.net/i?id=703abf88fd35c5d9fefab78ae18225aa68b4aa80-9238131-images-thumbs&n=13);
    background-size: 100% 50px;
    background-repeat: no-repeat;
    background-position: fixed;

  }
  .primary-navbar{
    justify-content: space-around;
    padding: 10px 20px;
   margin-left: -100px;  
  }
  
  .img img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
    

  }
  .email,.address,.location,.details{
    display: flex;

  }
  .email img{
    width: 30px;
    height: 30px;
  }
  .fb img{
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-right: 8px;
  }
  .twitter img ,.insta img{
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-right: 8px;
  }
 
  .github img{
    width: 30px;
    height: 30px;
    
  }
  
  .address a,.details a,.links a{
    text-decoration: none;
    color: black;
  }

  .location .text{
    margin-top: 2px;
  }
  .location img{
    width: 30px;
    height: 30px;
  }
  .help{
    padding-right: 10px;
  }
  .faq{
    padding-left: 10px;
  }
  .help span,.support span,.faq span{
    padding-right: 6px;
    color: rgb(42, 141, 235);
    font-weight: bold;
  }
  .text span,.details p{
    font-weight: 500;
  }
  



  /* -----------------------------------------------Primary-navbar-end------------------------------------ */
  
.secondary-navbar .logo img{
  width: 90px;
  height: 90px;

}
.secondary-navbar .phone img{
  width: 60px;
  height: 60px;
}
.secondary-navbar-links{
  display: flex;
  justify-content: space-around;
  padding: 30px;
  padding-left: 40px;
}
.secondary-navbar-links li{
  margin-right: 40px;
  
}
.secondary-navbar-links a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.secondary-navbar-links a:hover{
  color: rgb(103, 162, 230);

}
.secondary-navbar-links .phone li{
  margin: 0;
}
.secondary-navbar-links .phone{
  margin:-10px;
}
.secondary-navbar-links .phone h5{
  margin-top: 4px;
}
.secondary-navbar-links .phone h6{
  margin-top: -5px;
}
.secondary-navbar-links .btn{
  background-color: rgb(94, 109, 199);
  color: white;
}
.secondary-navbar-links .btn:hover{
  
  background-color: rgb(79, 82, 216);
  
}
.secondary-navbar-links .btn h6{
  font-weight: 700;
}
.secondary-navbar{ 
  
  padding: 0px 50px;
  margin-top: -10px;
  
}
.menu-icon{
  width: 40px;
  height: 40px;
  display: none;
}
.phone h5{
  color:  rgb(42, 141, 235);
}











/* -----------------------------------------Secondary-navbar-end-------------------------------------------- */
.main .img-container .main-img img{
  width: 100%;
  height: 500px;
 object-fit: inherit;
}
.main-img {
  position: relative;
}

.main-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for desired opacity */
  
}
.img-container{
  position: relative;
}
.img-text{
  position: absolute;
  top: 20%;
  left: 10%;
}
.img-text h1{
  font-size: 80px;
  color: antiquewhite;
}
.img-text h3{
 color: antiquewhite;
}
.main .img-text .container .btn {
  background-color: #5481e2;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.main .img-text .container .btn p {
  margin: 0;
  font-weight: bold;
}

.main .img-text .container .btn:hover {
  background-color: rgb(26, 108, 216);
}
/* =====================contact-section-------------------- */
.contact-section .container .flexer .contact-img img{
  width: 400px;
  height: 400px;
}
.contact-section .container .flexer{
  display: flex;
}

.contact-img img {
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}

.contact-img img:hover {
  filter: none;
}




.contact-img img {
  filter: grayscale(100%);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 4px solid #556ae6; /* Replace #FF0000 with your desired color */
}
.pics-flex .warranty-managment img{
  width: 60px;
  height: 60px;
  margin-top: 28px;
}
.pics-flex .warranty-managment h6,.control-system h6{
  margin-top: 30px;
  
  font-size: 24px;
  color: rgb(54, 48, 48);
  
}
.pics-flex .warranty-managment h6{
  margin-left: 30px;
 
  
}
.pics-flex .control-system img{
  height: 120px;
  height: 120px;
  margin-top: -0px;

}
.contact-section .info img{
  width: 30px;
  height: 30px;
}
.contact-section .contact-img-text h4{
  color: rgb(126, 126, 248);
  font-weight: bold;
}
.contact-section .contact-img-text h2{
  font-weight: bold;
  color: rgb(73, 57, 57);
}
.contact-section .contact-img-text p{
  color: rgb(156, 142, 142);
  border-left: 2px solid rgb(126, 126, 248);
  padding: 14px;

}
.contact-section .container .flexer{
  justify-content: space-around;
}
.contact-section .warranty-managment p,.control-system{
  font-size: 20px;
}
.contact-section .pics-flex{
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgray;
}
.contact-section .info img{
  margin-top: 20px;
}
.contact-section .info p{
 font-size: 16px;
 color: rgb(48, 41, 41);
 font-weight: 500;
 margin-top: 22px;
 margin-left: 8px;
}
.contact-section .info span{
 color:  rgb(126, 126, 248);
}



































/* ------------------------------------------------media-querry-------------------------------------- */
/* // `xs` returns only a ruleset and no media query */
/* // ... { 
  
  } */

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  .primary-navbar .address .email , .primary-navbar .address .location{
    display: none;
  }
  .details{
    padding-left: 200px;
  }
  .links{
    padding-right: 40px;
  }


  .main-img {
    position: relative;
  }
  .img-text {
    margin-top: 200px;
    margin-left: 60px;
    position: absolute;
    top: 10px;
    left: 0;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    
    
    color: wheat;
    z-index: 2;
  }
  .img-text{
    width: 100%;
    height: 100%;
    display: none;
  }
  .flexer{
    display: block;
  }
  .contact-section .container .contact-img img{
    margin: 0 70px
    
  }.contact-section .container .contact-img-text{
    margin-left: 80px;
    margin-top: 20px;
    text-align: center;
  }
  .contact-section .pics-flex{
    margin-left: -40px;
  }
  .contact-section .info{
    margin-left: 80px;
  }
 

  }

 
  
  
  
  
 
 



  /* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .primary-navbar .address .email , .primary-navbar .address .location{
    display: none;
  }
  .details{
    margin-right: 100px;
    margin-left: -80px;
  }
  /* -------------------primary navbar end ------------------------------------------ */
  .logo {
    margin-left: -80px;
  }
  .secondary-navbar-links{
    display: none;
  }
  
  
  .menu-icon {
    display: block;
  }
  .menu-icon img{
    width: 60px;
    height: 60px;
    margin-top: 10px;
  }
  .secondary-navbar{
    justify-content: space-between;
    
  }
  /* -----------------------------secondary-navbar-end--------------------------------------------------- */
  .main .container{
    margin: 0;
    margin-left: -60px;
  }
  
  /* ---------------------------------------------main-------------------------------------------- */
.contact-section .container .flexer{
  display: block;
}

}
  
  
  /* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .logo {
    margin-left: -80px;
  }
  .secondary-navbar-links{
    display: none;
  }
  
  
  .menu-icon {
    display: block;
  }
  .menu-icon img{
    width: 60px;
    height: 60px;
    margin-top: 10px;
  }
  .secondary-navbar{
    justify-content: space-between;
  }
  
  
  


  
}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .logo {
    margin-left: -80px;
  }
  .secondary-navbar-links{
    display: none;
  }
  
  
  .menu-icon {
    display: block;
  }
  .menu-icon img{
    width: 60px;
    height: 60px;
    margin-top: 10px;
  }
  .secondary-navbar{
    justify-content: space-between;
  }
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}












